@import '../../variables.scss';

.headerBlock {
  // Position
  position: relative;

  // Display
  display: block;

  // Box Model
  width: 100%;
  height: 5rem;
  min-height: 5rem;
}

.header {
  // Position
  position: fixed;
  z-index: 1;
  top: 0;
  flex-direction: row;

  // Display
  display: flex;

  // Box Model
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  padding: 0 $size-spacing-large;

  // Color
  background-color: $color-background-primary;

  .logoContainer {
    // Position
    flex-direction: row;

    // Display
    display: flex;

    // Box Model
    padding: $size-spacing-large 0 $size-spacing-medium $size-spacing-large;

    .logo {
      // Display
      flex: 1;

      // Box Model
      margin-right: $size-spacing-small;
      height: 100%;
    }

    .logoText {
      // Typography
      font-size: 1.75rem;
      font-family: 'Satoshi', sans-serif;
    }
  }
}
