// Colors
// I thought about implementing theming, but I thought it would be overly complicated for the scope of this project
$color-text-primary: #000000;
$color-text-secondary: #ffffff;
$color-text-accent: #4f64e9;
$color-background-primary: #ffffff;
$color-background-accent: #4f64e9;

// Typography
$size-font-small: 1rem;
$size-font-medium: 1.5rem;
$size-font-large: 2rem;

// Sizing
$size-spacing-small: 0.5rem;
$size-spacing-medium: 1rem;
$size-spacing-large: 1.5rem;
$size-spacing-xlarge: 2rem;
